[submodule "src/work_process_types/main_process/ML/extractnet"]
	path = src/work_process_types/main_process/ML/extractnet
	url = https://github.com/currentslab/extractnet.git
[submodule "src/work_process_types/main_process/ML/ache"]
	path = src/work_process_types/main_process/ML/ache
	url = https://github.com/VIDA-NYU/ache.git
